/* Define all colors outlined in the color pallette */
$space-cadet: #111133ff;
$grey: rgb(70, 70, 70);
$ghost-white: #fafaffff;
$blue-crayola: #3772ffff;
$steel-blue: #4381c1ff;
$liberty: #6457b1ff;
