@import 'colors';
@import "mixins";

.welcome {
  @include box;

  h1 {
    background-color: $blue-crayola;
    padding: 1rem;
    color: $ghost-white;
  }

  p {
    padding: 3em;
    font-size: 17pt;
  }
}

.section {
  @include box;
  display: flex;
  flex-direction: row;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .section__title::before {
      right: -50%;
      left: 0;
      text-align: right;
    }
  }

  &__title {
    position: relative;
    padding: 3em 1em;
    display: flex;
    flex-direction: row;
    z-index: 0;
    width: 30%;
    color: $ghost-white;

    h1 {
      font-weight: 600;
      font-size: 1.5em;
    }

    &::before {
      content: '';
      position: absolute;
      left: -50%;
      top: 0;
      width: 150%;
      height: 100%;
      background-color: $blue-crayola;
      transform: skewX(-30deg);
      z-index: -1;
    }
  }

  &__content {
    width: 100%;
    margin: auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &__link {
        background: red;
        @include link;
      }
    }
  }
}

@media only screen and (max-width: 1040px) {
  .welcome p {
    padding: 1rem;
  }

  .section {
    flex-direction: column;
    text-align: center;

    &:nth-child(odd) {
      flex-direction: column;
    }

    &__title {
      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 100%;

      &::before {
        transform: skewX(0deg);
      }
    }

    &__content {
      padding-top: 1rem;

    }
  }
}