/* Styles for an info page */
@import 'colors';
@import "mixins";

/* The banner explaining the page */
.welcome {
  /* Make it a box */
  @include box;

  /* Make the H1 stand out */
  h1 {
    background-color: $blue-crayola;
    padding: 1rem;
    color: $ghost-white;
    font-weight: 600;
  }

  /* The main paragraph of the welcome box */
  p {
    padding: 3em;
    font-size: 13pt;
  }
}

/* The main content boxes */
.section {
  @include box;
  display: flex;
  flex-direction: column;

  /* The main content of the box */
  &__title {
    position: relative;
    font-size: 16pt;
    color: $space-cadet;
    text-align: center;
    background-color: $blue-crayola;
    /* The title itself */
    h1 {
      color: $ghost-white;
      padding: 1rem;
      font-weight: 400;
      font-size: 1.5em;
    }
  }

  /* The main content */
  &__content {
    margin: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      padding: 2rem;
    }

    /* Style for links */
    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &__link {
        background: red;
        @include link;
      }
    }
  }
}

/* Make it responsive, with things moving to column fit on page */
@media only screen and (max-width: 700px) {
  .welcome p {
    padding: 3rem;
  }

  .section {
    &__content {
      padding-top: 1rem;
      flex-direction: column;
    }
  }
}