@import 'colors';
@import "mixins";

.welcome {
  @include box;

  h1 {
    background-color: $blue-crayola;
    padding: 1rem;
    color: $ghost-white;
    font-weight: 600;
  }

  p {
    padding: 3em;
    font-size: 13pt;
  }
}

.section {
  @include box;
  display: flex;
  flex-direction: column;

  &__title {
    position: relative;
    font-size: 16pt;
    color: $space-cadet;
    text-align: center;
    background-color: $blue-crayola;

    h1 {
      color: $ghost-white;
      padding: 1rem;
      font-weight: 400;
      font-size: 1.5em;
    }
  }

  &__content {
    margin: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      padding: 2rem;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &__link {
        background: red;
        @include link;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .welcome p {
    padding: 3rem;
  }

  .section {
    &__content {
      padding-top: 1rem;
      flex-direction: column;
    }
  }
}