/* Reusable chunks of code that can be place into other classes */
@import '../css/colors';

/* B O X, anything with centered text, and a border */
@mixin box {
  text-align: center;
  margin: 1em;
  border-radius: 30px;
  overflow: hidden;
  background-color: $ghost-white;
  border: #efefef 2px solid;
}

/* Styles for links that expand on hover */
@mixin link {
  background-color: $space-cadet;
  padding: 1rem;

  a {
    color: $ghost-white;
    text-decoration: none;
  }

  width: max-content;
  height: max-content;

  transition: transform ease-in 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}